<section class="advantages">
    <div class="container">
        <div class="advantages-main">
            <h2 class="advantages__title title-medium mb-lg-4 mb-3">Преимущества</h2>
            <p class="advantages__subtitle mb-4 mb-lg-5">Мы создали комплексные решения, которые способны <br>
                удовлетворить 101% потребностей и задач клиентов в области продвижения</p>
            
            <div class="advantages__box mb-2">
                <div class="row">
                    <div class="advantages__card mb-4 mb-lg-5 pe-lg-4 col-sm-6 col-lg-4">
                        <img src="../img/2-advantages/ad-1.png" alt="logo" class="mb-3 advantages__card__img">
                        <p class="after-bottom mb-2 advantages__card__title">Генерируем от 30 до 3 000 <br> заявок в день</p>
                        <p class="advantages__card__text">Работаем со множество городами партнерами и приводим в каждый из них от 30 до 3 000 качественных заявок в сутки</p>
                    </div>

                    <div class="advantages__card mb-4 mb-lg-5 pe-lg-4 col-sm-6 col-lg-4">
                        <img src="../img/2-advantages/ad-2.png" alt="logo" class="mb-3 advantages__card__img">
                        <p class="after-bottom mb-2 advantages__card__title">Бесплатная замена <br> некачественных заявок</p>
                        <p class="advantages__card__text">Возвращаяем некачественные заявки, если у вас попался (другой регион, неактуальнаезаявка и спам)</p>
                    </div>

                    <div class="advantages__card mb-4 mb-lg-5 pe-lg-4 col-sm-6 col-lg-4">
                        <img src="../img/2-advantages/ad-3.png" alt="logo" class="mb-3 advantages__card__img">
                        <p class="after-bottom mb-2 advantages__card__title">CRM система <br> в подарок</p>
                        <p class="advantages__card__text">Подключаем каждого клиента к CRM системе, где осуществляется прием заявок online (в реальном времени)</p>
                    </div>

                    <div class="advantages__card mb-4 mb-lg-5 pe-lg-4 col-sm-6 col-lg-4">
                        <img src="../img/2-advantages/ad-4.png" alt="logo" class="mb-3 advantages__card__img">
                        <p class="after-bottom mb-2 advantages__card__title">Фиксированная <br> стоимость заявки</p>
                        <p class="advantages__card__text">Наши заявки приносят от 30 до 50% встреч от количества лидов</p>
                    </div>

                    <div class="advantages__card mb-4 mb-lg-5 pe-lg-4 col-sm-6 col-lg-4">
                        <img src="../img/2-advantages/ad-5.png" alt="logo" class="mb-3 advantages__card__img">
                        <p class="after-bottom mb-2 advantages__card__title">Используем свои <br> сайты</p>
                        <p class="advantages__card__text">У нас уже рабочие готовые сайты, от вас требуется только телефон и почта</p>
                    </div>
                </div>
            </div>

            <button class="btn-general advantages__btn">Хочу заявки</button>

        </div>
    </div>
</section>