<section class="applications">

    <div class="container applications__container">

        <h2 class="applications__title title-medium">Мы предлагаем заявки</h2>

        <div class="applications__row">

            <div class="applications__card">

                <p class="applications__card__title">На микрофинансовые <br> организации</p>

                <div class="applications__card__price">от <span>70</span> руб/лид</div>

                <p class="applications__card__text after-bottom">Суммы займов от 1000 до 100 тысяч рублей!</p>
                <p class="applications__card__text after-bottom">Качественный онлайн трафик</p>
                <p class="applications__card__text after-bottom">Все лиды в одни руки</p>
                <p class="applications__card__text after-bottom">Конверсия от заявок составит от 35%!</p>
                <p class="applications__card__text after-bottom">Удобная CRM - система в подарок</p>
                <p class="applications__card__text after-bottom">Мы используем только свои сайты</p>
                <p class="applications__card__text applications__card__text--last">Работа проводится по вашему региону и РФ</p>

                <button class="btn-general applications__btn">Хочу заявки</button>

            </div>

            <div class="applications__card applications__card--big">
                
                <p class="applications__card__title">На потребительские <br> кредиты</p>

                <div class="applications__card__price applications__card__price--big">от <span>90</span> руб/лид</div>

                <p class="applications__card__text applications__card__text--big after-bottom">Суммы займов от 100 тысяч рублей до 15 млн!</p>
                <p class="applications__card__text applications__card__text--big after-bottom">Качественный онлайн трафик</p>
                <p class="applications__card__text applications__card__text--big after-bottom">Все лиды в одни руки</p>
                <p class="applications__card__text applications__card__text--big after-bottom">Конверсия от заявок составит от 35%!</p>
                <p class="applications__card__text applications__card__text--big after-bottom">Удобная CRM - система в подарок</p>
                <p class="applications__card__text applications__card__text--big after-bottom">Мы используем только свои сайты</p>
                <p class="applications__card__text applications__card__text--big--last">Работа проводится по вашему региону и РФ</p>

                <button class="btn-general applications__btn applications__btn--big">Хочу заявки</button>

            </div>

            <div class="applications__card">
                
                <p class="applications__card__title">На автокредиты <br> (лизинговые компании)</p>

                <div class="applications__card__price">от <span>70</span> руб/лид</div>

                <p class="applications__card__text after-bottom">Суммы займов от 1000 до 100 тысяч рублей!</p>
                <p class="applications__card__text after-bottom">Качественный онлайн трафик</p>
                <p class="applications__card__text after-bottom">Все лиды в одни руки</p>
                <p class="applications__card__text after-bottom">Конверсия от заявок составит от 35%!</p>
                <p class="applications__card__text after-bottom">Удобная CRM - система в подарок</p>
                <p class="applications__card__text after-bottom">Мы используем только свои сайты</p>
                <p class="applications__card__text applications__card__text--last">Работа проводится по вашему региону и РФ</p>

                <button class="btn-general applications__btn">Хочу заявки</button>

            </div>

        </div>

    </div>

</section>