<section class="form">
    <img src="../img/7-big-form/img.png" alt="img" class="form__img">
    <div class="form__container container">
            <form class="form__form" action="#">
                <div class="form__form__box">
                    <h4 class="title-medium form__title">Хочу заявки!</h4>
                    <p class="form__text">Для получения заявок, оставьте номер телефона и ваше имя. <br> Наш менеджер расскажет вам все подробнее.</p>
    
                    <div class="form__input-group">
                        <input class="form__input" placeholder="Ваше имя" type="text">
                    </div>
    
                    <div class="form__input-group">
                        <input class="form__input" placeholder="+7 (___) ___ - __ - __" type="tel">
                    </div>
                    <button class="btn-general form__btn" type="submit">Хочу заявки!</button>
                </div>
            </form>
    </div>
</section>