<section class="header mt-3 mt-md-5">
    <div class="container">
        <div class="header-main position-relative">
            <div class="header-block">
                <div class="header-nav w-100 d-flex align-items-center d-md-block justify-content-between">
                    <img class="logo" src="../img/1-header/logo.png" alt="">
                    <img class="d-block d-md-none" src="../img/1-header/phone-mob.png" alt="">
                </div>
                <h1 class="title-header position-relative">
                    Нужны <br> <span>качественные <br> лиды</span>
                    <img class="title-header-decor" src="../img/1-header/title-decor.png" alt="">
                </h1>

                <img class="header-img position-relative d-block d-md-none" src="../img/1-header/header-img.png" alt="">

                <div class="header-list d-flex align-items-center flex-column-reverse flex-md-row py-0 py-md-2 py-lg-3">
                    <button class="btn-general btn-header">Хочу лиды</button>
                    <ul class="header-list-header d-flex align-items-center flex-column flex-md-row">
                        <li class="header-list-item">Автокредит<br>
                            (лизинг)</li>
                        <li class="header-list-item">Потребительские<br>
                            кредиты</li>
                        <li class="header-list-item">Под залог <br>
                            ПТС</li>
                        <li class="header-list-item">МФО</li>
                    </ul>
                </div>
            </div>
            <img class="header-img d-none d-md-block" src="../img/1-header/header-img.png" alt="">
        </div>
    </div>
</section>