<div class="modal">
    <form class="modal-dialog pe-auto">
        <img src="../img/0-modal/decor.png" alt="decor" class="modal__decor">
        <div class="modal__content">
            <div class="modal__close"><img src="../img/0-modal/closed.png" alt="close"></div>
            <div class="modal__logo"><img src="../img/0-modal/modal-logo.png" alt="logo"></div>

            <h2 class="h1 title-modal">Хочу заявки!</h2>
            <p class="modal-text">Для получения лидов, оставьте номер телефона и ваше имя. Наш менеджер расскажет вам все подробнее.</p>

            <input class="modal-input" placeholder="Ваше Имя" type="text">
            <input class="modal-input" placeholder="+7 (___) ___ - __ - __" type="tel">

            <button class="btn-general modal__btn">Хочу заявки!</button>
        </div>
            
    </form>
</div>


<div class="modal modal--active modal-thanks" style="display: none;">
    <div class="modal-thanks__dialog">
        <img src="../img/0-modal/decor.png" alt="decor" class="modal__decor">
        <img src="img/0-modal/closed.png" class="modal-thanks__close">
        <img src="../img/0-modal/modal-logo.png" class="modal-thanks__logo">
        <h2 class="title-modal text-center mb-5">Заявка <br>
            отправлена</h2>
        <p class="modal-text">Мы получили вашу заявку. <br> Наш менеджер свяжится с вами.</p>
    </div>
</div>