<section class="we">
    <div class="container">
        <div class="we__box">
            <h3 class="title-medium we__title">О нас</h3>
            <p class="we__text we__text--first">Уже больше 5 лет мы работаем с Кредитными брокерами по всей России и создали и протестировали 10-ки сайтов и помогли заказчикам выделиться среди конкурентов  и повысить окупаемость инвестиций в рекламу на 1000%.</p>
            <p class="we__text">Повышаем продажи и приводим тех клиентов, которые готовы покупать.</p>
        </div>
    </div>
</section>