<section class="work">
    <div class="work__container container">

            <h3 class="title-medium work__title">Как мы работаем</h3>

            <div class="work__row">

                <div class="work__card work__card--1">
                    <div class="work__card__box">
                        <h5 class="work__card__title">Подготовка <br> к работе</h5>
                        <p class="work__card__text">Настраиваем сайт для вашего города, подключаем систему аналитики</p>
                    </div>
                </div>
                
                <div class="work__card work__card--2">
                    <div class="work__card__box">
                        <h5 class="work__card__title">Подключаем <br> CRM систему</h5>
                        <p class="work__card__text">Подключаем CRM систему и выдаем доступ заказчику, проводим инструктаж по работе</p>
                    </div>
                </div>

                <div class="work__card work__card--3">
                    <div class="work__card__box">
                        <h5 class="work__card__title">Настраиваем <br> рекламу</h5>
                        <p class="work__card__text">Настройка рекламных площадок Яндекс Директ, Google Adwords, Facebook и Instagram в соответствии с Вашим ГЕО работы</p>
                    </div>
                </div>

                <div class="work__card work__card--4">
                    <div class="work__card__box">
                        <h5 class="work__card__title">Тестирование <br> и проверка</h5>
                        <p class="work__card__text">Проверяем, чтобы работали все кнопки, формы заявок и SRM система</p>
                    </div>
                </div>

                <div class="work__card work__card--5">
                    <div class="work__card__box">
                        <h5 class="work__card__title">Запускаем <br> трафик</h5>
                        <p class="work__card__text">Трафик запущен и идут заявки.</p>
                    </div>
                </div>

            </div>
    </div>
</section>